h1{background-color: powderblue;}
h1{color: purple;}
header{text-align: center;}
main{padding: 1rem;}
h2{text-align: center;}
p{text-align: center;}
img{width: 22rem;}
header{background-color: greenyellow;}
header{padding: 2rem;}
main{background-color: hotpink;}
h2{color: purple;}
header{background-image: url("images/miku-smile.gif");}
header{background-size: 20rem;}
header{background-position: 1rem;}
header{background-repeat: repeat;}
a:hover{color: lime;}
iframe{padding-left: 28rem;}
iframe{padding-right: 28rem;}